<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		   							http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
						           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
						           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
						           http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd 
						           http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd ">
	
	<!-- 引入CXF下面的配置文件 -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<util:list id="jsonTypes">
		 <value>application/json</value>  
        <value>application/jettison</value>  
	</util:list>
	<!-- 拦截服务请求 解决乱码 -->
	<!-- <bean id="inLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingInInterceptor" />   --><!-- 这里用用自定义拦截encodingLoggingInInterceptor继承LoggingInInterceptor，额外处理乱码问题 -->
	<bean id="outLoggingInterceptor" class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
	<bean id="jsonProvider" class="org.codehaus.jackson.jaxrs.JacksonJsonProvider"/> 
	<!-- 配置需要暴露的BeanService -->
	<jaxrs:server id="restContainer" address="/">
		<jaxrs:serviceBeans>
			<ref bean="testService"/>
			<ref bean="rsCenterServiceImpl"/><!-- 接口对接中心 -->
		</jaxrs:serviceBeans>
		<jaxrs:providers> 
            <ref bean="jsonProvider"/> 
    	</jaxrs:providers> 
		<!-- 主要是为了解决传输内容在LoggingInInterceptor类内构建并输出时的乱码问题 -->
		 <jaxrs:inInterceptors>  
            <ref bean="encodingLoggingInInterceptor"/>  
        </jaxrs:inInterceptors>  
        <jaxrs:outInterceptors>  
            <ref bean="outLoggingInterceptor"/>  
        </jaxrs:outInterceptors>  
        <jaxrs:extensionMappings>
           <entry key="json" value="application/json" /> 
           <entry key="xml" value="application/xml" /> 
        </jaxrs:extensionMappings>  
        <jaxrs:languageMappings>  
            <entry key="en" value="en-gb"/>    
        </jaxrs:languageMappings> 
	</jaxrs:server>
</beans>