<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN" xml:lang="zh-CN" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<img src="cid:file" alt="logo"/><br/>
	<h1>请假申请结果</h1>
	<p>$!{to},你好！</p>
	<p>你的申请，已经由$!{assignee}审批通过！</p>
</body>
</html>